BS_XAS_XAS_UGISAPP__MASTER_100191/BS_XAS_XAS_UGISAPP__MASTER_100191/XA-XAS-BF/ejbModule/META-INF/wsdl/applicationGateway/XasNotificationService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="XasNotificationService" targetNamespace="http://wsutil.xas.xframe.usi.it" xmlns:impl="http://wsutil.xas.xframe.usi.it" xmlns:slfenc="http://slf.xframe.unicredit.eu" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://wsutil.xas.xframe.usi.it">
      <xsd:element name="notifyMobileOriginated">
        <xsd:complexType>
          <xsd:sequence>          	<xsd:element name="mobileOriginatedRequest" type="impl:mobileOriginated"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="notifyMobileOriginatedResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="mobileOriginatedResponse" type="impl:notificationResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="notifyDeliveryReport">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="deliveryReportRequest" type="impl:deliveryReport"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="notifyDeliveryReportResponse">
      	<xsd:complexType>
      		<xsd:sequence>
          	<xsd:element name="deliveryReportResponse" type="impl:notificationResponse"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
	   <xsd:simpleType name="statusCodeType">
		<xsd:restriction base="xsd:string">
      		<xsd:enumeration value="XAS00080I"/>
      		<xsd:enumeration value="XAS00081E"/>
      		<xsd:enumeration value="XAS00082E"/>
		</xsd:restriction>
	   </xsd:simpleType>
      <xsd:simpleType name="ENUM_STATUS">
      	<xsd:restriction base="xsd:string">
      		<xsd:enumeration value="NO_ROUTE"/>
      		<xsd:enumeration value="REJECTED_BY_FILTER"/>
      		<xsd:enumeration value="EXPIRED_IN_QUEUE"/>
      		<xsd:enumeration value="COMMAND_FAILED"/>
      		<xsd:enumeration value="UNKNOWN_SMSC_RESPONSE"/>
      		<xsd:enumeration value="REJECTED_BY_SMSC"/>
      		<xsd:enumeration value="DROPPED_BY_SMSC"/>
      		<xsd:enumeration value="EXPIRED_ON_SMSC"/>
      		<xsd:enumeration value="REJECTED_BY_DEV"/>
      		<xsd:enumeration value="DELIVERED_TO_DEV"/>
      	</xsd:restriction>
      </xsd:simpleType>      <xsd:complexType name="deliveryReport">
      	<xsd:sequence>
   			<xsd:element name="uuid" nillable="true" type="xsd:string"/>
      		<xsd:element name="providerDate" type="xsd:dateTime"/>
	     	<xsd:element maxOccurs="unbounded" name="smsIds" nillable="true" type="xsd:string"/>
      		<xsd:element name="phoneNumber" type="xsd:string"/>
      		<xsd:element name="deliveryDate" type="xsd:dateTime"/>
      		<xsd:element name="status" type="impl:ENUM_STATUS"/>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="mobileOriginated">
      	<xsd:sequence>
   			<xsd:element name="uuid" nillable="true" type="xsd:string"/>
      		<xsd:element name="moDate" type="xsd:dateTime"/>
	     	<xsd:element maxOccurs="unbounded" name="smsIds" nillable="true" type="xsd:string"/>
      		<xsd:element name="providerDate" type="xsd:dateTime"/>
      		<xsd:element name="phoneNumber" type="xsd:string"/>
      		<xsd:element name="moDestinator" type="xsd:string"/>
      		<xsd:element name="msg" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="notificationResponse">
      	<xsd:sequence>
            <xsd:element name="statusCode" type="impl:statusCodeType"/>
            <xsd:element name="statusMsg" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="notifyMobileOriginatedRequest">
    <wsdl:part element="impl:notifyMobileOriginated" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="notifyMobileOriginatedResponse">
    <wsdl:part element="impl:notifyMobileOriginatedResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="notifyDeliveryReportRequest">
  	<wsdl:part element="impl:notifyDeliveryReport" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="notifyDeliveryReportResponse">
  	<wsdl:part element="impl:notifyDeliveryReportResponse" name="parameters"/>
  </wsdl:message>  <wsdl:portType name="XasNotification">
    <wsdl:operation name="notifyMobileOriginated">
      <wsdl:input message="impl:notifyMobileOriginatedRequest" name="notifyMobileOriginatedRequest"/>
      <wsdl:output message="impl:notifyMobileOriginatedResponse" name="notifyMobileOriginatedResponse"/>
    </wsdl:operation>
    <wsdl:operation name="notifyDeliveryReport">
    	<wsdl:input message="impl:notifyDeliveryReportRequest" name="notifyDeliveryReportRequest"/>
    	<wsdl:output message="impl:notifyDeliveryReportResponse" name="notifyDeliveryReportResponse"/>
    </wsdl:operation>
  </wsdl:portType>    <wsdl:binding name="XasNotificationServiceSOAP" type="impl:XasNotification">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="notifyMobileOriginated">
  		<soap:operation soapAction="http://wsutil.xas.xframe.usi.it/notifyMobileOriginated"/>
  		<wsdl:input name="notifyMobileOriginatedRequest">
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output name="notifyMobileOriginatedResponse">
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="notifyDeliveryReport">
  		<soap:operation soapAction="http://wsutil.xas.xframe.usi.it/notifyDeliveryReport"/>
  		<wsdl:input name="notifyDeliveryReportRequest">
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output name="notifyDeliveryReportResponse">
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XasNotificationService">
    <wsdl:port binding="impl:XasNotificationServiceSOAP" name="XasNotification">
      <soap:address location="http://localhost:9080/XA-XAS-WS/services/XasNotification"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>