BS_XAS_XAS_UGISAPP__MASTER_100191/BS_XAS_XAS_UGISAPP__MASTER_100191/XA-XAS-BF/ejbModule/META-INF/wsdl/applicationGateway/XasNotification.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://wsutil.xas.xframe.usi.it" xmlns:impl="http://wsutil.xas.xframe.usi.it" xmlns:intf="http://wsutil.xas.xframe.usi.it" xmlns:tns2="http://data.bfutil.xas.xframe.usi.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://wsutil.xas.xframe.usi.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.bfutil.xas.xframe.usi.it"/>
   <complexType name="MobileOriginated">
    <sequence>
     <element name="uuid" nillable="true" type="xsd:string"/>
     <element name="moDate" nillable="true" type="xsd:dateTime"/>
     <element name="smsId" nillable="true" type="xsd:string"/>
     <element name="providerDate" nillable="true" type="xsd:dateTime"/>
     <element name="phoneNumber" nillable="true" type="xsd:string"/>
     <element name="moDestinator" nillable="true" type="xsd:string"/>
     <element name="msg" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="notifyMobileOriginated">
    <complexType>
     <sequence>
      <element name="mobileOriginated" nillable="true" type="impl:MobileOriginated"/>
     </sequence>
    </complexType>
   </element>
   <element name="notifyMobileOriginatedResponse">
    <complexType>
     <sequence>
      <element name="notifyMobileOriginatedReturn" nillable="true" type="tns2:NotificationResponse"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="DeliveryReport">
    <sequence>
     <element name="uuid" nillable="true" type="xsd:string"/>
     <element name="providerDate" nillable="true" type="xsd:dateTime"/>
     <element name="smsId" nillable="true" type="xsd:string"/>
     <element name="phoneNumber" nillable="true" type="xsd:string"/>
     <element name="deliveryDate" nillable="true" type="xsd:dateTime"/>
     <element name="status" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="notifyDeliveryReport">
    <complexType>
     <sequence>
      <element name="deliveryReport" nillable="true" type="impl:DeliveryReport"/>
     </sequence>
    </complexType>
   </element>
   <element name="notifyDeliveryReportResponse">
    <complexType>
     <sequence>
      <element name="notifyDeliveryReportReturn" nillable="true" type="tns2:NotificationResponse"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://data.bfutil.xas.xframe.usi.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="NotificationResponse">
    <sequence>
     <element name="statusCode" nillable="true" type="xsd:string"/>
     <element name="statusMsg" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="notifyDeliveryReportResponse">

      <wsdl:part element="impl:notifyDeliveryReportResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="notifyMobileOriginatedResponse">

      <wsdl:part element="impl:notifyMobileOriginatedResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="notifyDeliveryReportRequest">

      <wsdl:part element="impl:notifyDeliveryReport" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="notifyMobileOriginatedRequest">

      <wsdl:part element="impl:notifyMobileOriginated" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="XasNotification">

      <wsdl:operation name="notifyMobileOriginated">

         <wsdl:input message="impl:notifyMobileOriginatedRequest" name="notifyMobileOriginatedRequest"/>

         <wsdl:output message="impl:notifyMobileOriginatedResponse" name="notifyMobileOriginatedResponse"/>

      </wsdl:operation>

      <wsdl:operation name="notifyDeliveryReport">

         <wsdl:input message="impl:notifyDeliveryReportRequest" name="notifyDeliveryReportRequest"/>

         <wsdl:output message="impl:notifyDeliveryReportResponse" name="notifyDeliveryReportResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="XasNotificationSoapBinding" type="impl:XasNotification">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="notifyMobileOriginated">

         <wsdlsoap:operation soapAction="notifyMobileOriginated"/>

         <wsdl:input name="notifyMobileOriginatedRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="notifyMobileOriginatedResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="notifyDeliveryReport">

         <wsdlsoap:operation soapAction="notifyDeliveryReport"/>

         <wsdl:input name="notifyDeliveryReportRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="notifyDeliveryReportResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="XasNotificationService">

      <wsdl:port binding="impl:XasNotificationSoapBinding" name="XasNotification">

         <wsdlsoap:address location="http://localhost:9080/XA-XAS-WS/services/XasNotification"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>