BS_XAS_XAS_UGISAPP__MASTER_100191/BS_XAS_XAS_UGISAPP__MASTER_100191/XA-XAS-BF/ejbModule/META-INF/wsdl/GWService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="urn:SoapSmppGW" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:SoapSmppGW" xmlns:intf="urn:SoapSmppGW" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="urn:SoapSmppGW" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Submit_sm">
    <sequence>
     <element name="destination_addr" nillable="false" type="soapenc:string"/>
     <element name="service_type" nillable="true" type="soapenc:string"/>
     <element name="source_addr" nillable="true" type="soapenc:string"/>
     <element name="source_addr_ton" nillable="true" type="xsd:byte"/>
     <element name="source_addr_npi" nillable="true" type="xsd:byte"/>
     <element name="dest_addr_ton" nillable="true" type="xsd:byte"/>
     <element name="dest_addr_npi" nillable="true" type="xsd:byte"/>
     <element name="esm_class" nillable="true" type="xsd:byte"/>
     <element name="protocol_id" nillable="true" type="xsd:byte"/>
     <element name="priority_flag" nillable="true" type="xsd:byte"/>
     <element name="schedule_delivery_time" nillable="true" type="soapenc:string"/>
     <element name="validity_period" nillable="true" type="soapenc:string"/>
     <element name="registered_delivery" nillable="true" type="xsd:byte"/>
     <element name="short_message" nillable="true" type="soapenc:string"/>
     <element name="replace_if_present_flag" nillable="true" type="xsd:byte"/>    
     <element name="data_coding" nillable="true" type="xsd:byte"/>
     <element name="sm_default_msg_id" nillable="true" type="xsd:byte"/>
     <element name="sm_length" nillable="true" type="xsd:byte"/>     
     <element name="message_payload" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="GWSession">
    <sequence>
     <element name="accountName" nillable="true" type="soapenc:string"/>
     <element name="accountPassword" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="Submit_resp">
    <sequence>
     <element name="message_id" nillable="false" type="soapenc:string"/>
     <element name="error_code" nillable="true" type="soapenc:string"/>
     <element name="command_status" nillable="true" type="xsd:int"/>
     <element name="sequence_number" nillable="true" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="Deliver_sm">
    <sequence>
     <element name="destination_addr" nillable="true" type="soapenc:string"/>
     <element name="service_type" nillable="true" type="soapenc:string"/>
     <element name="source_addr" nillable="true" type="soapenc:string"/>
     <element name="source_addr_ton" nillable="true" type="xsd:byte"/>
     <element name="source_addr_npi" nillable="true" type="xsd:byte"/>
     <element name="dest_addr_ton" nillable="true" type="xsd:byte"/>
     <element name="dest_addr_npi" nillable="true" type="xsd:byte"/>
     <element name="esm_class" nillable="true" type="xsd:byte"/>
     <element name="protocol_id" nillable="true" type="xsd:byte"/>
     <element name="priority_flag" nillable="true" type="xsd:byte"/>
     <element name="registered_delivery" nillable="true" type="xsd:byte"/>
     <element name="short_message" nillable="true" type="soapenc:string"/>
     <element name="data_coding" nillable="true" type="xsd:byte"/>
     <element name="sm_length" nillable="true" type="xsd:byte"/>
     <element name="message_state" nillable="true" type="xsd:int"/>
     <element name="receipted_message_id" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="Deliver_resp">
    <sequence>
     <element name="command_status" type="xsd:int"/>
     <element name="error_code" nillable="true" type="soapenc:string"/>
     <element name="message_id" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="DeliverResponse">

      <wsdl:part name="DeliverReturn" type="impl:Deliver_resp"/>

   </wsdl:message>

   <wsdl:message name="SubmitRequest">

      <wsdl:part name="sm" type="impl:Submit_sm"/>

      <wsdl:part name="gws" type="impl:GWSession"/>

   </wsdl:message>

   <wsdl:message name="DeliverRequest">

      <wsdl:part name="sm" type="impl:Deliver_sm"/>

      <wsdl:part name="gws" type="impl:GWSession"/>

   </wsdl:message>

   <wsdl:message name="SubmitResponse">

      <wsdl:part name="SubmitReturn" type="impl:Submit_resp"/>

   </wsdl:message>

   <wsdl:portType name="GWService">

      <wsdl:operation name="Submit" parameterOrder="sm gws">

         <wsdl:input message="impl:SubmitRequest" name="SubmitRequest"/>

         <wsdl:output message="impl:SubmitResponse" name="SubmitResponse"/>

      </wsdl:operation>

      <wsdl:operation name="Deliver" parameterOrder="sm gws">

         <wsdl:input message="impl:DeliverRequest" name="DeliverRequest"/>

         <wsdl:output message="impl:DeliverResponse" name="DeliverResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GWServiceSoapBinding" type="impl:GWService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Submit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SubmitRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:SoapSmppGW" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="SubmitResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:SoapSmppGW" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="Deliver">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="DeliverRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:SoapSmppGW" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="DeliverResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:SoapSmppGW" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GWServiceService">

      <wsdl:port binding="impl:GWServiceSoapBinding" name="GWService">

         <wsdlsoap:address location="http://VodafonePop.intranet.unicreditgroup.eu:80/axis/services/GWService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>