BS_XAS_XAS_UGISAPP__MASTER_100157/BS_XAS_XAS_UGISAPP__MASTER_100157/XA-XAS-WS/WebContent/WEB-INF/wsdl/Echo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wsutil.xas.xframe.usi.it" xmlns:impl="http://wsutil.xas.xframe.usi.it" xmlns:intf="http://wsutil.xas.xframe.usi.it" xmlns:tns2="http://eservice.system.xframe.usi.it" xmlns:tns3="http://errors.system.xframe.usi.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://wsutil.xas.xframe.usi.it" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="echoit">
    <complexType>
     <sequence>
      <element name="msg" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="echoitResponse">
    <complexType>
     <sequence>
      <element name="echoitReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://eservice.system.xframe.usi.it" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns3="http://errors.system.xframe.usi.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://errors.system.xframe.usi.it"/>
   <complexType name="ServiceFactoryException">
    <complexContent>
     <extension base="tns3:XFRSystemException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <element name="ServiceFactoryException" nillable="true" type="tns2:ServiceFactoryException"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://errors.system.xframe.usi.it" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="XFRSystemException">
    <complexContent>
     <extension base="tns3:XFRSevereException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="XFRSevereException">
    <complexContent>
     <extension base="tns3:XFRCodedException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="XFRCodedException">
    <complexContent>
     <extension base="tns3:XFRException">
      <sequence>
       <element name="code" nillable="true" type="xsd:string"/>
       <element maxOccurs="unbounded" name="parameters" nillable="true" type="xsd:anyType"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="XFRException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="stackTraceString" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="echoitResponse">

      <wsdl:part element="impl:echoitResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="echoitRequest">

      <wsdl:part element="impl:echoit" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="ServiceFactoryException">

      <wsdl:part element="tns2:ServiceFactoryException" name="fault"/>

   </wsdl:message>

   <wsdl:portType name="Echo_SEI">

      <wsdl:operation name="echoit">

         <wsdl:input message="impl:echoitRequest" name="echoitRequest"/>

         <wsdl:output message="impl:echoitResponse" name="echoitResponse"/>

         <wsdl:fault message="impl:ServiceFactoryException" name="ServiceFactoryException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EchoSoapBinding" type="impl:Echo_SEI">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="echoit">

         <wsdlsoap:operation soapAction="echoit"/>

         <wsdl:input name="echoitRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="echoitResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ServiceFactoryException">

            <wsdlsoap:fault name="ServiceFactoryException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EchoService">

      <wsdl:port binding="impl:EchoSoapBinding" name="Echo">

         <wsdlsoap:address location="http://localhost:9083/XA-XAS-WS/services/Echo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
