BS_XAS_XAS_UGISAPP__MASTER_100191/BS_XAS_XAS_UGISAPP__MASTER_100191/XA-XAS-WS/WebContent/WEB-INF/wsdl/telecom/SmsNotificationService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="SmsNotificationService" targetNamespace="http://sms.mgp.service.eng.it/" xmlns:cmt="http://sms.mgp.service.eng.it/commonTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sms.mgp.service.eng.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sms.mgp.service.eng.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://sms.mgp.service.eng.it/commonTypes" schemaLocation="SmsServiceCommonTypes.xsd"/>

			<xs:complexType name="moMessage">
				<xs:complexContent>
					<xs:extension base="cmt:message">
						<xs:sequence>
							<xs:element minOccurs="1" name="smsId" type="xs:string"/>
							<xs:element minOccurs="1" name="date" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="smscDate" type="xs:dateTime"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="mtDeliveryStatus">
				<xs:complexContent>
					<xs:extension base="cmt:messageStatus">
						<xs:sequence>
							<xs:element minOccurs="1" name="destAddr" type="xs:string"/>
							<xs:element name="destAddrNpi" type="xs:int"/>
							<xs:element name="destAddrTon" type="xs:int"/>
							<xs:element minOccurs="1" name="status" type="tns:status"/>
							<xs:element minOccurs="1" name="txId" type="xs:string"/>
							<xs:element minOccurs="1" name="msgId" type="xs:string"/>
							<xs:element minOccurs="1" name="smsId" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="status">
				<xs:restriction base="xs:string">
					<xs:enumeration value="NO_ROUTE"/>
					<xs:enumeration value="REJECTED_BY_FILTER"/>
					<xs:enumeration value="EXPIRED_IN_QUEUE"/>
					<xs:enumeration value="COMMAND_FAILED"/>
					<xs:enumeration value="UNKNOWN_SMSC_RESPONSE"/>
					<xs:enumeration value="ACCEPTED_BY_SMSC"/>
					<xs:enumeration value="REJECTED_BY_SMSC"/>
					<xs:enumeration value="DROPPED_BY_SMSC"/>
					<xs:enumeration value="EXPIRED_ON_SMSC"/>
					<xs:enumeration value="DELIVERED_TO_DEV"/>
					<xs:enumeration value="REJECTED_BY_DEV"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="newMessage" type="tns:newMessage"/>
			<xs:complexType name="newMessage">
				<xs:sequence>
					<xs:element minOccurs="1" name="arg1" type="tns:moMessage"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="newMessageResponse" type="tns:newMessageResponse"/>
			<xs:complexType name="newMessageResponse">
				<xs:sequence/>
			</xs:complexType>
			<xs:element name="newDeliveryStatus" type="tns:newDeliveryStatus"/>
			<xs:complexType name="newDeliveryStatus">
				<xs:sequence>
					<xs:element minOccurs="1" name="arg1" type="tns:mtDeliveryStatus"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="newDeliveryStatusResponse" type="tns:newDeliveryStatusResponse"/>
			<xs:complexType name="newDeliveryStatusResponse">
				<xs:sequence/>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="newMessage">
		<wsdl:part element="tns:newMessage" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="newMessageResponse">
		<wsdl:part element="tns:newMessageResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="newDeliveryStatusResponse">
		<wsdl:part element="tns:newDeliveryStatusResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="newDeliveryStatus">
		<wsdl:part element="tns:newDeliveryStatus" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SmsNotificationServicePortType">
		<wsdl:operation name="newMessage">
			<wsdl:input message="tns:newMessage" name="newMessage">
			</wsdl:input>
			<wsdl:output message="tns:newMessageResponse" name="newMessageResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="newDeliveryStatus">
			<wsdl:input message="tns:newDeliveryStatus" name="newDeliveryStatus">
			</wsdl:input>
			<wsdl:output message="tns:newDeliveryStatusResponse" name="newDeliveryStatusResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SmsNotificationServiceSoapBinding" type="tns:SmsNotificationServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="newMessage">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="newMessage">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="newMessageResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="newDeliveryStatus">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="newDeliveryStatus">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="newDeliveryStatusResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SmsNotificationService">
		<wsdl:port binding="tns:SmsNotificationServiceSoapBinding" name="SmsNotificationServicePort">
			<soap:address location="http://localhost:9080/XA-XAS-WS/services/SmsNotificationServicePort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>