BS_XAS_XAS_UGISAPP__MASTER_100157/BS_XAS_XAS_UGISAPP__MASTER_100157/XA-XAS-BF/ejbModule/META-INF/wsdl/telecom/SmsSendingService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="SmsSendingService" targetNamespace="http://sms.mgp.service.eng.it/" xmlns:cmt="http://sms.mgp.service.eng.it/commonTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sms.mgp.service.eng.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sms.mgp.service.eng.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://sms.mgp.service.eng.it/commonTypes" schemaLocation="SmsServiceCommonTypes.xsd"/>

			<xs:complexType name="mtMessage">
				<xs:complexContent>
					<xs:extension base="cmt:message">
						<xs:sequence>
							<xs:element minOccurs="0" name="deliveryDate" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="serviceType" type="xs:string"/>
							<xs:element minOccurs="0" name="esmClass" type="xs:string"/>
							<xs:element minOccurs="0" name="replaceIfPresentFlag" type="xs:string"/>
							<xs:element name="registeredDelivery" type="xs:boolean"/>
							<xs:element minOccurs="0" name="protocolId" type="xs:string"/>
							<xs:element minOccurs="1" name="msgId" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="mtSendingResult">
				<xs:sequence>
					<xs:element minOccurs="0" name="smsId" type="xs:string"/>
					<xs:element minOccurs="0" name="reason" type="tns:reason"/>
					<xs:element minOccurs="1" name="result" type="tns:result"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="reason">
				<xs:restriction base="xs:string">
					<xs:enumeration value="INVALID_SRC_ADDR"/>
					<xs:enumeration value="INVALID_DEST_ADDR"/>
					<xs:enumeration value="INVALID_PAYLOAD"/>
					<xs:enumeration value="PAYLOAD_TOO_LONG"/>
					<xs:enumeration value="INVALID_PAYLOAD_ENCODING"/>
					<xs:enumeration value="TX_DUPLICATED"/>
					<xs:enumeration value="UNEXPECTED_ERROR"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="result">
				<xs:restriction base="xs:string">
					<xs:enumeration value="OK"/>
					<xs:enumeration value="KO"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="sendMessage" type="tns:sendMessage"/>
			<xs:complexType name="sendMessage">
				<xs:sequence>
					<xs:element minOccurs="1" name="arg1" type="tns:mtMessage"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="sendMessageResponse" type="tns:sendMessageResponse"/>
			<xs:complexType name="sendMessageResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:mtSendingResult"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="sendMessage">
		<wsdl:part element="tns:sendMessage" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendMessageResponse">
		<wsdl:part element="tns:sendMessageResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SmsSendingServicePortType">
		<wsdl:operation name="sendMessage">
			<wsdl:input message="tns:sendMessage" name="sendMessage">
			</wsdl:input>
			<wsdl:output message="tns:sendMessageResponse" name="sendMessageResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SmsSendingServiceSoapBinding" type="tns:SmsSendingServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sendMessage">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="sendMessage">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="sendMessageResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SmsSendingService">
		<wsdl:port binding="tns:SmsSendingServiceSoapBinding" name="SmsSendingServicePort">
			<soap:address location="http://localhost:9090/SmsSendingServicePort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>