BS_XAS_XAS_UGISAPP__MASTER_100157/BS_XAS_XAS_UGISAPP__MASTER_100157/XA-XAS-BF/ejbModule/META-INF/wsdl/sendSMS.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="SendSMS" targetNamespace="http://serverweb.sms.unicredit.eu/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serverweb.sms.unicredit.eu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://serverweb.sms.unicredit.eu/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="send" type="tns:send"/>
<xs:element name="sendResponse" type="tns:sendResponse"/>
<xs:complexType name="send">
    <xs:sequence>
      <xs:element minOccurs="0" name="phonenumber" type="xs:string"/>
      <xs:element minOccurs="0" name="msg" type="xs:string"/>
      <xs:element minOccurs="0" name="alias" type="xs:string"/>
      <xs:element minOccurs="0" name="abicode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sendResponse">
    <xs:sequence>
      <xs:element name="status" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="send">
    <wsdl:part element="tns:send" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendResponse">
    <wsdl:part element="tns:sendResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SendSMS">
    <wsdl:operation name="send">
      <wsdl:input message="tns:send" name="send">
    </wsdl:input>
      <wsdl:output message="tns:sendResponse" name="sendResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendSMSSoapBinding" type="tns:SendSMS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="send">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="send">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendSMS">
    <wsdl:port binding="tns:SendSMSSoapBinding" name="SendSMSImplPort">
      <soap:address location="http://guupzm000102:9000/sendSMS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>