BS_XAS_XAS_UGISAPP__MASTER_100191/BS_XAS_XAS_UGISAPP__MASTER_100191/XA-XAS-WS/WebContent/WEB-INF/wsdl/PgeTokenSendSms2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wsutil.xas.xframe.usi.it" xmlns:impl="http://wsutil.xas.xframe.usi.it" xmlns:intf="http://wsutil.xas.xframe.usi.it" xmlns:tns2="http://data.bfutil.xas.xframe.usi.it" xmlns:tns3="http://eservice.system.xframe.usi.it" xmlns:tns4="http://errors.system.xframe.usi.it" xmlns:tns5="http://bfutil.xas.xframe.usi.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://data.bfutil.xas.xframe.usi.it" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="SmsRequest">
    <sequence>
     <element name="validity" nillable="true" type="xsd:dateTime"/>
     <element name="validityPeriod" nillable="true" type="xsd:int"/>
     <element name="deliveryTime" nillable="true" type="xsd:dateTime"/>
     <element name="correlationID" nillable="true" type="xsd:string"/>
     <element name="smsResponse" nillable="true" type="xsd:boolean"/>
     <element name="forceAsciiEncoding" nillable="true" type="xsd:boolean"/>
     <element name="xasUser" nillable="true" type="xsd:string"/>
     <element name="msg" nillable="true" type="xsd:string"/>
     <element name="phoneNumber" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SmsResponse">
    <sequence>
     <element name="code" nillable="true" type="xsd:string"/>
     <element name="message" nillable="true" type="xsd:string"/>
     <element maxOccurs="unbounded" name="smsIds" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://wsutil.xas.xframe.usi.it" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://data.bfutil.xas.xframe.usi.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.bfutil.xas.xframe.usi.it"/>
   <element name="sendSms2">
    <complexType>
     <sequence>
      <element name="smsRequest" nillable="true" type="tns2:SmsRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendSms2Response">
    <complexType>
     <sequence>
      <element name="sendSms2Return" nillable="true" type="tns2:SmsResponse"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://eservice.system.xframe.usi.it" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns4="http://errors.system.xframe.usi.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://errors.system.xframe.usi.it"/>
   <complexType name="ServiceFactoryException">
    <complexContent>
     <extension base="tns4:XFRSystemException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <element name="ServiceFactoryException" nillable="true" type="tns3:ServiceFactoryException"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://errors.system.xframe.usi.it" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="XFRSystemException">
    <complexContent>
     <extension base="tns4:XFRSevereException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="XFRSevereException">
    <complexContent>
     <extension base="tns4:XFRCodedException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="XFRCodedException">
    <complexContent>
     <extension base="tns4:XFRException">
      <sequence>
       <element name="code" nillable="true" type="xsd:string"/>
       <element maxOccurs="unbounded" name="parameters" nillable="true" type="xsd:anyType"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="XFRException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="stackTraceString" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bfutil.xas.xframe.usi.it" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns4="http://errors.system.xframe.usi.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://errors.system.xframe.usi.it"/>
   <complexType name="XASException">
    <complexContent>
     <extension base="tns4:XFRCodedException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <element name="XASException" nillable="true" type="tns5:XASException"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="XASException">

      <wsdl:part element="tns5:XASException" name="fault"/>

   </wsdl:message>

   <wsdl:message name="ServiceFactoryException">

      <wsdl:part element="tns3:ServiceFactoryException" name="fault"/>

   </wsdl:message>

   <wsdl:message name="sendSms2Request">

      <wsdl:part element="impl:sendSms2" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="sendSms2Response">

      <wsdl:part element="impl:sendSms2Response" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="PgeTokenSendSms2">

      <wsdl:operation name="sendSms2">

         <wsdl:input message="impl:sendSms2Request" name="sendSms2Request"/>

         <wsdl:output message="impl:sendSms2Response" name="sendSms2Response"/>

         <wsdl:fault message="impl:XASException" name="XASException"/>

         <wsdl:fault message="impl:ServiceFactoryException" name="ServiceFactoryException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PgeTokenSendSms2SoapBinding" type="impl:PgeTokenSendSms2">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendSms2">

         <wsdlsoap:operation soapAction="sendSms2"/>

         <wsdl:input name="sendSms2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendSms2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="XASException">

            <wsdlsoap:fault name="XASException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceFactoryException">

            <wsdlsoap:fault name="ServiceFactoryException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PgeTokenSendSms2Service">

      <wsdl:port binding="impl:PgeTokenSendSms2SoapBinding" name="PgeTokenSendSms2">

         <wsdlsoap:address location="http://localhost:9082/XA-XAS-WS/services/PgeTokenSendSms2"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
