BS_XAS_XAS_UGISAPP__MASTER_100191/BS_XAS_XAS_UGISAPP__MASTER_100191/XA-XAS-WS/WebContent/WEB-INF/wsdl/SendEmail.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wsutil.xas.xframe.usi.it" xmlns:impl="http://wsutil.xas.xframe.usi.it" xmlns:intf="http://wsutil.xas.xframe.usi.it" xmlns:tns2="http://data.bfutil.xas.xframe.usi.it" xmlns:tns3="http://eservice.system.xframe.usi.it" xmlns:tns4="http://errors.system.xframe.usi.it" xmlns:tns5="http://bfutil.xas.xframe.usi.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://data.bfutil.xas.xframe.usi.it" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="EmailMessage">
    <sequence>
     <element name="html" type="xsd:boolean"/>
     <element name="mailBcc" nillable="true" type="xsd:string"/>
     <element name="mailCc" nillable="true" type="xsd:string"/>
     <element name="mailFrom" nillable="true" type="xsd:string"/>
     <element name="mailMessage" nillable="true" type="xsd:string"/>
     <element name="mailSubject" nillable="true" type="xsd:string"/>
     <element name="mailTo" nillable="true" type="xsd:string"/>
     <element name="replyTo" nillable="true" type="xsd:string"/>
     <element name="mailFromName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="BinaryEmailAttachment">
    <complexContent>
     <extension base="tns2:AbstractEmailAttachment">
      <sequence>
       <element name="binaryAttachment" type="xsd:base64Binary"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType abstract="true" name="AbstractEmailAttachment">
    <sequence>
     <element name="attachmentDescription" nillable="true" type="xsd:string"/>
     <element name="attachmentMimeType" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://wsutil.xas.xframe.usi.it" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://data.bfutil.xas.xframe.usi.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.bfutil.xas.xframe.usi.it"/>
   <element name="exportEmailMessage">
    <complexType>
     <sequence>
      <element name="emailMsg" nillable="true" type="tns2:EmailMessage"/>
      <element maxOccurs="unbounded" minOccurs="0" name="attachments" type="tns2:BinaryEmailAttachment"/>
     </sequence>
    </complexType>
   </element>
   <element name="exportEmailMessageResponse">
    <complexType>
     <sequence>
      <element name="exportEmailMessageReturn" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendEmailMessageWithBinary">
    <complexType>
     <sequence>
      <element name="emailMessage" nillable="true" type="tns2:EmailMessage"/>
      <element maxOccurs="unbounded" minOccurs="0" name="attachments" type="tns2:BinaryEmailAttachment"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendEmailMessageWithBinaryResponse">
    <complexType>
     <sequence/>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://eservice.system.xframe.usi.it" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns4="http://errors.system.xframe.usi.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://errors.system.xframe.usi.it"/>
   <complexType name="ServiceFactoryException">
    <complexContent>
     <extension base="tns4:XFRSystemException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <element name="ServiceFactoryException" nillable="true" type="tns3:ServiceFactoryException"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://errors.system.xframe.usi.it" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="XFRSystemException">
    <complexContent>
     <extension base="tns4:XFRSevereException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="XFRSevereException">
    <complexContent>
     <extension base="tns4:XFRCodedException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="XFRCodedException">
    <complexContent>
     <extension base="tns4:XFRException">
      <sequence>
       <element name="code" nillable="true" type="xsd:string"/>
       <element maxOccurs="unbounded" name="parameters" nillable="true" type="xsd:anyType"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="XFRException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="stackTraceString" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bfutil.xas.xframe.usi.it" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns4="http://errors.system.xframe.usi.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://errors.system.xframe.usi.it"/>
   <complexType name="XASException">
    <complexContent>
     <extension base="tns4:XFRCodedException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <element name="XASException" nillable="true" type="tns5:XASException"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendEmailMessageWithBinaryResponse">

      <wsdl:part element="impl:sendEmailMessageWithBinaryResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="XASException">

      <wsdl:part element="tns5:XASException" name="fault"/>

   </wsdl:message>

   <wsdl:message name="exportEmailMessageResponse">

      <wsdl:part element="impl:exportEmailMessageResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="exportEmailMessageRequest">

      <wsdl:part element="impl:exportEmailMessage" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="ServiceFactoryException">

      <wsdl:part element="tns3:ServiceFactoryException" name="fault"/>

   </wsdl:message>

   <wsdl:message name="sendEmailMessageWithBinaryRequest">

      <wsdl:part element="impl:sendEmailMessageWithBinary" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="SendEmail_SEI">

      <wsdl:operation name="exportEmailMessage">

         <wsdl:input message="impl:exportEmailMessageRequest" name="exportEmailMessageRequest"/>

         <wsdl:output message="impl:exportEmailMessageResponse" name="exportEmailMessageResponse"/>

         <wsdl:fault message="impl:XASException" name="XASException"/>

         <wsdl:fault message="impl:ServiceFactoryException" name="ServiceFactoryException"/>

      </wsdl:operation>

      <wsdl:operation name="sendEmailMessageWithBinary">

         <wsdl:input message="impl:sendEmailMessageWithBinaryRequest" name="sendEmailMessageWithBinaryRequest"/>

         <wsdl:output message="impl:sendEmailMessageWithBinaryResponse" name="sendEmailMessageWithBinaryResponse"/>

         <wsdl:fault message="impl:XASException" name="XASException"/>

         <wsdl:fault message="impl:ServiceFactoryException" name="ServiceFactoryException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SendEmailSoapBinding" type="impl:SendEmail_SEI">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="exportEmailMessage">

         <wsdlsoap:operation soapAction="exportEmailMessage"/>

         <wsdl:input name="exportEmailMessageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="exportEmailMessageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="XASException">

            <wsdlsoap:fault name="XASException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceFactoryException">

            <wsdlsoap:fault name="ServiceFactoryException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="sendEmailMessageWithBinary">

         <wsdlsoap:operation soapAction="sendEmailMessageWithBinary"/>

         <wsdl:input name="sendEmailMessageWithBinaryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendEmailMessageWithBinaryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="XASException">

            <wsdlsoap:fault name="XASException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceFactoryException">

            <wsdlsoap:fault name="ServiceFactoryException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SendEmailService">

      <wsdl:port binding="impl:SendEmailSoapBinding" name="SendEmail">

         <wsdlsoap:address location="http://localhost:9082/XA-XAS-WS/services/SendEmail"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
